.carousel-wrapper {
  overflow: hidden;
  max-width: 1000px;
}
.carousel-wrapper * {
  box-sizing: border-box;
}
.carousel {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  max-width: 1000px;
  transform-style: preserve-3d;
}
.left-button,
.right-button {
  cursor: pointer;
  width: 25px;
  height: 25px;
  overflow: visible;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}
.left-button::after,
.right-button::after {
  content: " ";
}
.right-button::after {
  left: 47%;
}
.carousel__photo.initial,
.carousel__photo.active {
  display: block;
  max-width: 800px;
  opacity: 1;
  position: relative;
  z-index: 900;
}
.carousel__photo.prev,
.carousel__photo.next {
  z-index: 800;
}
.carousel__photo.prev {
  transform: translateX(-100%);
}
.carousel__photo.next {
  transform: translateX(100%);
}
.carousel__photo {
  display: none;
  top: 0;
  margin: auto;
  padding: 1rem 4rem;
  z-index: 100;
  transition: transform 0.5s, opacity 0.5s, z-index 0.5s;
}
p {
  margin: auto;
}
