.carousel {
  overflow: hidden;
  width: 90%;
  transform-style: preserve-3d;
}
.carousel * {
  box-sizing: border-box;
}
.carousel__photo {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  margin: auto;
  padding: 1rem 4rem;
  z-index: 100;
  transition: transform 0.5s, opacity 0.5s, z-index 0.5s;
}
.carousel__photo.initial,
.carousel__photo.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}
.carousel__photo.prev,
.carousel__photo.next {
  z-index: 800;
}
.carousel__photo.prev {
  transform: translateX(-100%);
}
.carousel__photo.next {
  transform: translateX(100%);
}
.left-button,
.right-button {
  position: absolute;
  top: 50%;
  width: 3rem;
  height: 3rem;
  background-color: #FFF;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1001;
  /* Sit on top of everything */
  border: 1px solid black;
}
.left-button {
  left: 0;
}
.right-button {
  right: 0;
}
.left-button::after,
.right-button::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: translate(-50%, -50%) rotate(135deg);
}
.right-button::after {
  left: 47%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
