@import './variables';
@import './mixins';
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic,900');

// all imports 
@import './components/TopBar/TopBar';
@import './components/Header/Header';
@import './components/Tabs/Tabs';
@import './components/Cards/Cards';
@import './components/Carousel/Carousel';

* {
  box-sizing: border-box;
}

html, body {
  margin: 0; 
  padding: 0;
}

body {
  .flex(none, center, column);
  background-color: @lambda-times-color-background;
  color: @lambda-times-color-primary;
  font-family: 'PT Sans', sans-serif;
  background-image: url('/LESS/overlay.png'), url('/LESS/black-and-white-black-and-white-monochrome-707676.jpg');
  background-repeat: repeat, no-repeat;
  background-size: auto, 100% 100%;
  background-attachment: fixed;
  overflow-x: hidden;
  
}

// @import './components/TopBar/TopBar';
// @import './components/Header/Header';
// @import './components/Tabs/Tabs';
// @import './components/Cards/Cards';
// @import './components/Carousel/Carousel';
