// Color assignments:
@post-article-button-background-color: @lambda-times-color-crimson;
@post-article-button-font-color: @lambda-times-color-snow;
@post-article-button-border-color: @lambda-times-color-grey;
@post-article-button-box-shadow-color: @lambda-times-color-grey;

// Color values
@lambda-times-color-primary: #333;
@lambda-times-color-white: #fff;
@lambda-times-color-black: #000;
@lambda-times-color-lightgrey: lightgrey;
@lambda-times-color-background: #f1f1f1;
@lambda-times-color-grey: grey;
@lambda-times-color-snow: snow;
@lambda-times-color-crimson: crimson;